.buiButton {
  color: red;
}

bui-button.bui-btn button{
  background: white;
  padding: 4px 24px 4px 24px;
  border-radius: 4px;
  margin: 8px;
  color: #007aff;
  border: 1px solid #007bff;
  box-sizing: border-box;  
  transition: background 0.12s ease;
}
bui-button.bui-btn button:hover,
bui-button.bui-btn button:active {
  background: #E8E8E8;
  transition: background 0.12s ease;
}

bui-button.bui-btn-primary button {
  background: #007aff;
  padding: 4px 24px 4px 24px;
  border-radius: 4px;
  margin: 8px;
  color: white;
  border: 1px solid #007aff;
  transition: background 0.12s ease;
}

bui-button.bui-btn-primary button:hover {
  background: #0C40E8;
  transition: background 0.12s ease;
}

bui-button.bui-btn-rounded button {
  border-radius: 16px;
}