<h1 style="padding: 8px 16px;">ngBlankUI - Modern Angular UI Components for faster development</h1>

<p style="padding: 8px 16px;">ngBlankUI is a library for unification of development of visual components and user interaction on web applications, done with relative ease and speed. The goal of this library is to provide easy to use components built with the help of AngularJS and made available as AngularJS-native UI components.</p>
<br>
<br>
<h3 style="padding: 8px 16px;">Please go through the docs to get an better idea</h3>

<bui-button class="bui-btn bui-btn-rounded bui-btn-primary">Button</bui-button>
<bui-checkbox id="tt" ng-model="$ctrl.checkboxvalue">I agree to the terms and conditions</bui-checkbox>
<br>
<bui-stepper style="margin-left: 24px;" ng-model="$ctrl.somevalue" diff="21"></bui-stepper>
<br>
Somevalue : {{$ctrl.somevalue}}
<br>
<br>
<bui-input type="text" placeholder="Enter your name" ng-model="$ctrl.someinput" style="margin-left: 32px;"></bui-input>
<br>
<br>
<br>
<bui-dropdown list="$ctrl.list" style="margin-left: 200px;">More</bui-dropdown>