
@import "common/common";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

.app {
  height: 100%;
}

body {
  height: 100%;
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}