@import './../../common/common.scss';

bui-dropdown {
    margin-left: 400px;
    position: absolute;
    
    .trigger {
        padding: 8px 16px;
        border: 1px solid $primaryColor;
        background: $primaryColor;
        color: #FFFFFF;
        border-radius: 2px;
        position: absolute;
        cursor: pointer;

        &:hover,
        &:focus {
            background: #005dc0;
        }
    }

    ul {
        position: relative;
        border: 1px solid #999;
        border-radius: 2px;
        margin-top: 40px;
        cursor: pointer;
        padding: 0;
        
        li {
            background: #FAFAFA;
            padding: 8px 16px;
            list-style: none;
            &:focus,
            &:hover {
                background: #EEE;
            }
        }
    }
}